@model System.Collections.Generic.List<SapSecurity.ViewModel.SensorViewModel>

@{
    ViewBag.Title = "Sensor";
    Layout = "_Layout";
}


<div class="row">
    <div class="col-md-12 p-3">
        <div class="btn-group">
            <a class="btn btn-danger">Spray</a>
            <a class="btn bg-warning">Alarm</a>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-12">
        <table class="table table-bordered table-hover table-striped table-sm table-responsive">
            <thead class="table-success">
                <tr>
                    <th>شناسه سنسور</th>
                    <th>نام سنسور</th>
                    <th>وضعیت</th>
                    <th>درصد</th>
                    <th>آخرین مقدار</th>
                    <th>زمان آحرین پیام</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderBy(x => x.ZoneTitle))
                {
                    <tr>
                        <td>
                            <p> <span>@item.Id</span>/<span>@item.Identifier</span>
                        </td>
                        <td>
                            <p> <span>@item.GroupTitle</span>/<span>@item.ZoneTitle</span>/<span>@item.SensorName</span></p>
                        </td>
                        <td>
                            <span id="senS_@item.Id">@item.Status.ToString()</span>
                        </td>
                        <td>
                            @if (item.IsDigital)
                            {
                                <span>-</span>
                            }
                            else
                            {
                                <span class="badge bg-primary rounded-pill" id="senP_@item.Id">
                                    @item.SensPercent
                                </span>
                            }
                        </td>
                        <td>
                            <span id="sen_@item.Identifier">-</span>
                        </td>
                        <td>
                            <span id="alv_@item.Identifier">-</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row mt-5">
    <p>Logs</p>
    @foreach (var item in Model)
    {
        <div class="col-md-5 overflow-scroll m-2 p-2 border border-1">
            <div class="row">
                <p> <span>@item.GroupTitle</span>/<span>@item.ZoneTitle</span>/<span>@item.SensorName</span></p>
                <div class="col-md-12 logs" id="logs_@item.Identifier" style="height: 200px !important;"></div>
            </div>
        </div>
    }
    <p>Others</p>
    <div id="others"></div>
</div>
@section Scripts
    {
    <script>
        webSocket();
        ClearLogs();
        function ClearLogs() {
            setTimeout(function() {
                var logs = document.getElementsByClassName('logs');
                for (var i = 0; i < logs.length; i++) {
                    logs[i].innerHTML = '';
                }


                ClearLogs();
            }, 120000);
        }
        function webSocket() {
            var socket = new WebSocket("ws://109.122.199.199:7080/websocket");
            socket.onopen = function(e) {
                var userId = '@ViewBag.UId';
                console.log('send');
                socket.send('<AId>' + userId + '</AId>');
            }
            socket.onmessage = function(data) {
                try {
                    var message = data.data;
                    if (message.includes('<Adm>')) {
                        SetSensorValue(message);
                    }

                    if (message.includes('<SNo>')) {
                        SetSensorPercent(message);
                    }

                    if (message.includes('<Adl>')) {
                        SetSensorAlive(message)
                    }
                }
                catch (e) {
                    document.getElementById('others').innerHTML = '<p>' + message + '</p>';
                }
            }
            socket.onerror = function(data) {
                //webSocket();
                console.log(data);
            }
            socket.onclose = function(data) {
                //webSocket();
                console.log(data);
            }
        }

        function SetSensorPercent(message) {
            var sp = message.split('<SNo>');
            for (var i = 0; i < sp.length; i++) {
                var t = sp[i];
                if (t.includes('</SNo>')) {
                    t = t.replace('</SNo>', '');
                    t = t.replace('<SNo>', '');
                    var t2 = t.split(',');
                    if (t2.length == 2) {
                        var sId = t2[0];
                        var status = t2[1];
                        var percent = t2[2];
                        var statusName = GetStatusName(status);
                        document.getElementById('senS_' + sId).innerHTML = statusName;
                        document.getElementById('senP_' + sId).innerHTML = percent;
                    }
                }
            }
        }
        function GetStatusName(status) {

            switch (Number(status)) {
                case 1: return "Active";
                case 2: return "DeActive";
                case 3: return "Warning";
                case 4: return "Danger";
            }
            return "";
        }

        function SetSensorAlive(message) {
            message = message.replace('</Adl>', '');
            message = message.replace('<Adl>', '');
            var t2 = message.split(',');
            if (t2.length == 2) {
                var sId = t2[0];
                var val = t2[1];
                document.getElementById('alv_' + sId).innerHTML = val;
            }
        }
        function SetSensorValue(message) {
            message = message.replace('</Adm>', '');
            message = message.replace('<Adm>', '');
            let p = document.createElement("p");
            p.innerText = message;
            var sp = message.split('<Sen>');
            for (var i = 0; i < sp.length; i++) {
                var t = sp[i];
                if (t.includes('</Sen>')) {
                    t = t.replace('</Sen>', '');
                    t = t.replace('<Sen>', '');
                    var t2 = t.split(',');
                    if (t2.length == 2) {
                        var sId = t2[0];
                        var val = t2[1];
                        document.getElementById('sen_' + sId).innerHTML = val;
                        document.getElementById('logs_' + sId).prepend(p);
                    }
                }
            }
        }

    </script>
}
